@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
	--gren-gray-scale-900: #002603;
	--gren-gray-scale-800: #173b1a;
	--gren-gray-scale-700: #2b572e;
	--gren-gray-scale-600: #406b42;
	--gren-gray-scale-500: #618062;
	--gren-gray-scale-400: #7a997c;
	--gren-gray-scale-300: #96b297;
	--gren-gray-scale-200: #b4ccb4;
	--gren-gray-scale-100: #dae5da;
	--gren-gray-scale-50: #edf2ee;
	--gray-scale-gray-–-900: #1a1a1a;
	--gray-scale-gray-–-800: #333;
	--gray-scale-gray-–-700: #4d4d4d;
	--gray-scale-gray-–-600: #666;
	--gray-scale-gray-–-500: #808080;
	--gray-scale-gray-–-400: #999;
	--gray-scale-gray-–-300: #b3b3b3;
	--gray-scale-gray-–-200: #ccc;
	--gray-scale-gray-–-100: #e6e6e6;
	--gray-scale-gray-–-50: #f2f2f2;
	--gray-scale-white: #fff;
	--branding-success-bright: #84d187;
	--branding-success: #00b207;
	--branding-success-dark: #2c742f;
	--branding-warning: #ff8a00;
	--branding-error: #ea4b48;
    --font-family: "Poppins", sans-serif;
    --second-family: "Segoe Script", sans-serif;
    --third-family: "Dancing Script", sans-serif;
}

/* CSS COMMON START */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
span,
ol {
  margin: 0;
  padding: 0;
}

body{
    font-family: var(--font-family) ;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* CSS COMMON END */


/* Header Top Begins */

#headerTop{
    background-color: var(--gray-scale-gray-–-800);
    color: var(--gray-scale-gray-–-300);
    padding: 13px 0;
}
#headerTop p{
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 12px;
	line-height: 130%;
	color: var(--gray-scale-gray-–-300);
}

#headerTop ul li{
	padding: 0 20px;
	border-right: 1px solid rgba(255, 255, 255, 0.1);	
}

#headerTop ul li:last-child{
	border: none;
}

#headerTop form select{
	background-color: transparent;
	border: none;
	font-weight: 400;
	font-size: 12px;
	line-height: 130%;
	text-align: center;
	color: var(--gray-scale-gray-–-300);
}
#headerTop a{
font-weight: 400;
font-size: 12px;
line-height: 130%;
color: var(--gray-scale-gray-–-300);
}

/* Header Mid Begins */
#headerMid{
	padding: 24px 0 ;
}
.search form{
	display: flex;
	justify-content: center;
}
.search form .form-group{
	width: 100%;
	max-width: 400px;
	position: relative;
}
.search form input{
	width: 100%;
	max-width: 400px;
	height: 45px;
	border: 1px solid var(--gray-scale-gray-–-100);
	border-radius: 6px 0 0 6px;
	padding-left: 44px;
}
.search button{
	border-radius: 0 6px 6px 0;
	padding: 14px 24px;
	background: var(--branding-success);
	border: none;
	outline: none;
	font-weight: 600;
	font-size: 14px;
	line-height: 120%;
	color: var(--gray-scale-white);
}
.search span{
	position: absolute;
	top: 50%;
	left: 18.5px;
	line-height: 0;
	transform: translateY(-50%);
}

.cart a{
	color:  var(--gray-scale-gray-–-900);
}

.cart li{
	padding: 0 17px;
	border-right: 1px solid var(--gray-scale-gray-–-200);
}
.cart li:last-child{
	border: none;
}
.cart .cartIcon{
	position: relative;
}
.cart .cartIcon .cartCount{
	top: -3px;
	right: -3px;;
	position: absolute;
	font-weight: 500;
	font-size: 10px;
	line-height: 18px;
	text-align: center;
	color: var(--gray-scale-white);
	border: 1px solid var(--gray-scale-white);
	border-radius: 16px;
	width: 18px;
	height: 18px;
	background: var(--branding-success-dark);
}

.cart .cartLink .text{
	text-align: left;
	margin-left: 12px;
}
.cart .cartLink .text p{
	font-weight: 400;
	font-size: 11px;
	line-height: 50%;
	margin-bottom: 15px;
	color: var(--gray-scale-gray-–-700);
}
.cart .cartLink .text h4{
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 14px;
	line-height: 50%;
	color: var(--gray-scale-gray-–-900);	
}

/* sm nav begins */

.smMenu #smSearchBtn{
	border: none;
	background-color: transparent;
}

#offcanvasMenu{
	max-width: 80%;
	overflow: auto;
}

#offcanvasMenu ul li{
	padding: 0 25px;
}

#offcanvasMenu ul li a{
	color: var(--gray-scale-gray-–-800);
	margin-bottom: 10px;
	display: inline-block;
}
#offcanvasMenu ul li button {
    border: none;
    background: none;
    margin-bottom: 10px;
	color: var(--gray-scale-gray-–-800);
}

#offcanvasMenu ul li .dropdown-menu{
	max-width: 100%;
	position: relative !important;
	inset: 5px auto auto 0px !important;
	transform: none !important;
	overflow: auto;
}

.searchSm{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
	opacity: 0;
	transition: 0.5s cubic-bezier(.98,-0.01,.15,.99)  ;
}

.searchSm.active{
	transform: translateY(0%);
	opacity: 1;
}

.searchSm .form-group{
	max-width: 80%;
	margin: auto;
	margin-top: 40px;
	position: relative;
}
.searchSm .form-group input{
	width: 100%;
	height: 50px;
	border: none;
	border-bottom: 1px solid var(--gray-scale-gray-–-500);
	outline: none;
}
.searchSm .form-group input:focus{
	border-color: var(--branding-success);
}
.searchSm .form-group span{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.searchSm .searchResult{
	padding: 20px;
	height: 80vh;
	overflow: auto;
}

.searchSm .searchResult .results{
	text-transform: capitalize;
}

.searchSm .productText{
	padding: 0 10px;
}

.searchSm .productText p{
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--gren-gray-scale-700);
}

.searchSm .productText h4{
font-weight: 500;
font-size: 18px;
line-height: 150%;
color: var(--gren-gray-scale-900);
}
.searchSm .productText h4 del{
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--gren-gray-scale-400);
}

.searchSm .searchResult .product-card{
	border: 1px solid var(--gray-scale-gray-–-200);
	margin-bottom: 20px;
}

.searchSm .closeBtn{
	position: absolute;
	right: 20px;
	top: 10px;
	border: none;
	background-color: transparent;
	color: var(--branding-error);
}

/* Header Bottom Begins */
#headerBottom{
	background: var(--gray-scale-gray-–-50);
}
#headerBottom .categoriesBtn{
	padding: 18px 24px;
	border: none;
	background-color: var(--branding-success);
	color: var(--gray-scale-gray-–-100);
	gap: 8px;
}

#headerBottom ul .navDropdown button{
	border: none;
	background-color: transparent;
	color: var(--gray-scale-gray-–-500);
	font-family: var(--font-family);
}

#headerBottom ul li a ,
#headerBottom ul li.navList{
	padding: 18px 16px;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	color: var(--gray-scale-gray-–-500);
}

#headerBottom ul li.navList :hover{
	color: var(--branding-success);
}
#headerBottom .call a,
#headerBottom .call{
font-weight: 500;
font-size: 14px;
line-height: 150%;
color: var(--gray-scale-gray-–-900);
gap: 8px;
}

/* Mobile Bottom Header */
#mobileBottom {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 15px 0;
	box-shadow: rgba(0, 0, 0, 0.35) 0px -3px 15px;
}
#mobileBottom a{
	color: var(--gray-scale-gray-–-900);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: block;
	text-align: center;
	line-height: 40px;
}

#mobileBottom a:hover,
#mobileBottom a:focus,
#mobileBottom a.active{
	background-color: var(--branding-success-bright);
}

/* Banner Section Begins */
#banner {
	background-image: url(../images/BG.png);
	background-position: center;
	background-size: contain;
	max-height: var(--bannerHeight);
	height: var(--bannerHeight);
	position: relative;
  }
  #banner .slider .slide .container .row,
  #banner .slider .slide .container,
  #banner .slider .slide {
	height: var(--bannerHeight);
  }
  
  .arrows {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 1px solid var(--gray-scale-gray-–-900);
	color: var(--gren-gray-scale-900);
	font-size: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
  }
  
  .leftArrows {
	left: 5%;
  }
  .rightArrows {
	right: 5%;
  }
  
  #banner .banner-dots {
	position: absolute;
	left: 50%;
	bottom: 70px;
	transform: translateX(-50%);
	display: flex;
	gap: 8px;
  }
  #banner .banner-dots button {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: var(--gren-gray-scale-200);
	overflow: hidden;
	border: none;
	outline: none;
	color: transparent;
	transition: 0.3s;
  }
  
  #banner .banner-dots .slick-active button {
	width: 16px;
	border-radius: 50px;
	background-color: var(--branding-success);
  }
  
  #banner .slide h3 {
	font-weight: 600;
	font-size: 56px;
	line-height: 120%;
	color: var(--gren-gray-scale-900);
	 transition: 0.5s;
	}
	#banner .slide p {
	  margin: 20px 0 32px;
	  font-weight: 400;
	  font-size: 18px;
	  line-height: 150%;
	  color: var(--gren-gray-scale-500);
	  transition: 0.5s;
	transition-delay: 0.2s;
  }
  
  #banner .slide .bannerCnt *{
	transform: translateY(100px);
	opacity: 0;
   
  }
  
  #banner .slide.slick-active .bannerCnt *{
	transform: translateY(0px);
	opacity: 1;
  }

  
  /* Banner Section ENDS HERE */